ConfigArgParse==1.7
conflictfree==0.1.8
einops==0.8.2
h5py==3.12.1
jetnet==0.2.5
matplotlib==3.11.1
more_itertools==11.1.0
numpy==2.5.1
pandas==3.0.3
PyYAML==6.0.2
PyYAML==6.0.3
scikit_learn==1.9.0
scipy==1.18.0
timm==1.0.28
torch==2.6.0
torch==2.6.0.dev20241231+cu118
torchdiffeq==0.2.5
vector==1.8.1
